<div class="upnav">
  <nav class="navbar">
    <div class="navbar-brand">
      <span style="margin-right: 30px"><img src="logo.png" alt="photo" /></span>
    </div>
    <div class="navbar-language">
      <a href="#" class="navbar-lang-option">RU</a>
      <a href="#" class="navbar-lang-option">ENG</a>
      <a href="#" class="navbar-lang-option">UZB</a>
    </div>
  </nav>
</div>
