<div class="search-container">
  <h1>Поиск лекарств в аптеках Узбекистана</h1>
  <form action="/medicine" method="post">
    <input
      type="text"
      class="search-input"
      name="search"
      placeholder="Search..."
    />
    <button type="submit" class="search-button">Search</button>
  </form>

  
</div>
