<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Drug Store</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <%- include("./partials/nav.ejs")%> <%- include("./partials/search.ejs")%>
    <div class="butmore">
      <a class="butmore" href="/filter">
        <img class="icon" src="expand-button.png" alt="button" />
      </a>
    </div>
  </body>
</html>
